$color-snow: snow;
$color-silver: silver;
$px: 20px;
$percent: 20%;
$hundo: 100%;
$center: center;
$overflow: hidden;
$border: solid;
$nothing: none;
$cursor: pointer;

html {
  scroll-behavior: smooth;
  overflow-x: $overflow;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
  transition-property: all;
  transition-duration: 0.6s;
  transition-timing-function: ease;
}

body {
  background: rgb(124, 122, 122);
  background: linear-gradient(
    180deg,
    rgb(187, 181, 181) 0%,
    rgba(52, 52, 50, 1) 42%,
    rgba(25, 21, 21, 1) 89%
  );
  height: $hundo;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  justify-content: $center;
  align-items: $center;
  text-align: $center;
}

#active {
  color: $color-snow;
  background-color: transparent;
}

nav {
  position: fixed;
  width: $hundo;
  display: flex;
  justify-content: space-around;
  align-items: $center;
  min-height: 8vh;
  border-bottom: $color-silver $border 3px;
  background-color: rgb(124, 122, 122);

  .logo {
    text-decoration: $nothing;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
    color: $color-silver;
  }

  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;

    a {
      color: $color-silver;
      text-decoration: $nothing;
      letter-spacing: 2px;
      font-weight: bold;
      font-size: $px;
      text-transform: uppercase;
    }
    :hover {
      color: $color-snow;
      transition: 0.9s;
    }

    li {
      list-style: $nothing;
    }
  }
  :hover {
    color: $color-snow;
    transition: 0.9s;
  }
}

.burger {
  display: $nothing;
  cursor: $cursor;

  div {
    width: 25px;
    height: 2.5px;
    background-color: $color-silver;
    margin: 5px;
    transition: all 0.3s ease;
  }
}

.container2 {
  align-items: $center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 3em;
  text-align: $center;

  .mySlides {
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: $center;
    margin-top: 8%;
  }

  .prev,
  .next {
    align-items: $center;
    justify-content: space-evenly;
    cursor: $cursor;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 15px;
    margin-top: -70px;
    color: $color-silver;
    font-weight: 300;
    font-size: $px;
    user-select: $nothing;
    -webkit-user-select: $nothing;
    margin-right: $percent;
    border-radius: 10px;
  }
  .next {
    right: 2%;
  }
  .prev {
    left: 56%;
  }
  .prev:hover,
  .next:hover {
    background-color: $color-snow;
    opacity: 70%;
    border-radius: 10px;
  }

  img {
    border-radius: $px;
  }
  .caption-container {
    text-align: $center;
    background-color: transparent;
    // padding: 5px 16px;
    margin-top: 1%;
  }
  #caption {
    padding-top: 2rem;
    padding-bottom: 0.75rem;
    color: $color-silver;
    text-align: $center;
  }
  .row {
    filter: grayscale(60%);
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
}

.example2 {
  width: 30%;
  float: left;
  padding: 3em;
  margin-top: 8%;
  color: $color-silver;
  border: 5px $border $color-snow;
  border-radius: 10px;
  margin-left: 4%;
}
.example3 {
  width: 75%;
  padding: 3em;
  color: $color-silver;
  border: 3px $border $color-snow;
  border-radius: 10px;
  margin-left: 11%;
  margin-top: 5%;
  text-align: $center;
  opacity: 80%;
}

.link {
  color: $color-silver;
  text-decoration: $nothing;
}
//7 columns side by side
.column {
  float: left;
  width: 6.1%;
  cursor: $cursor;
  justify-content: $center;
  align-items: $center;
  margin: 0.5%;
}
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.arrow {
  width: 2.5%;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

@media screen and (max-width: 1024px) {
  body {
    overflow-x: $overflow;
    overflow-y: $overflow;
  }

  .prev,
  .next {
    align-items: $center;
    justify-content: space-evenly;
    cursor: $cursor;
    position: absolute;
    top: $hundo;
    width: auto;
    padding: 15px;
    margin-top: -430px;
    color: $color-silver;
    font-weight: 300;
    font-size: $px;
    user-select: $nothing;
    -webkit-user-select: $nothing;
    margin-right: $percent;
    border-radius: 10px;
    right: 35%;
    left: 79%;
  }

  .example2 {
    width: 35%;
    float: left;
    padding: 3em;
    margin-top: 9%;
    color: $color-silver;
    border: 5px $border $color-snow;
    border-radius: 10px;
    margin-left: 4%;
  }
  .example3 {
    width: 80%;
    padding: 3em;
    color: $color-silver;
    border: 3px $border $color-snow;
    border-radius: 10px;
    margin-left: 11%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: $center;
    opacity: 80%;
  }
  .caption-container {
    text-align: $center;
    background-color: transparent;
    padding: 20px 16px;
    padding-bottom: 0.75rem;
    padding-top: 3rem;
    margin-top: 1%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: $overflow;
    overflow-y: $overflow;
  }

  .nav-links {
    background-color: rgb(124, 122, 122);
  }
  .container2 {
    .prev,
    .next {
      align-items: $center;
      justify-content: space-evenly;
      cursor: $cursor;
      position: absolute;
      top: $hundo;
      width: auto;
      padding: 15px;
      margin-top: 10%;
      color: $color-silver;
      font-weight: 300;
      font-size: $px;
      user-select: $nothing;
      -webkit-user-select: $nothing;
      margin-right: $percent;
      border-radius: 10px;
    }
    .prev {
      left: -2%;
    }
    .next {
      right: -2%;
    }
  }

  .arrow {
    width: 5%;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
  }
  .example2 {
    width: 90%;
    margin-top: 15%;
    color: $color-silver;
    border: 5px $border $color-snow;
    border-radius: 10px;
  }

  .column {
    float: left;
    width: 10%;
    cursor: $cursor;
    justify-content: $center;
    align-items: $center;
    margin: 0.5%;
  }
}

@media screen and (max-width: 426px) {
  body {
    overflow-x: $overflow;
    overflow-y: $overflow;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 15vh;
    top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: $center;
    width: $percent;
    transform: translateX($hundo);
    transition: transform 0.5s ease-in;
    background-color: rgb(124, 122, 122);
    li {
      opacity: 1;
    }
  }

  .burger {
    display: block;
    cursor: $cursor;
    div {
      width: 25px;
      height: 2.5px;
      background-color: $color-silver;
      margin: 5px;
      transition: all 0.3s ease;
    }
  }
  .logo {
    margin: 0;
  }
  .example2 {
    margin-top: 20%;
  }
  .example3 {
    width: 80%;
    padding: 1em;
  }
  .container2 {
    //    align-items: $center;
    // display: flex;
    //flex-direction: column;
    //justify-content: space-evenly;
    //padding: 3em;
    .prev,
    .next {
      align-items: $center;
      justify-content: space-evenly;
      cursor: $cursor;
      position: absolute;
      top: $hundo;
      width: auto;
      padding: 15px;
      margin-top: -10%;
      color: $color-silver;
      font-weight: 300;
      font-size: $px;
      user-select: $nothing;
      -webkit-user-select: $nothing;
      margin-right: $percent;
      border-radius: 10px;
    }
    .prev {
      left: -15.5%;
      color: $color-silver;
    }
  }

  .nav-active {
    transform: translateX(0%);
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}
