$color-snow: snow;
$color-silver: silver;
$px: 20px;
$percent: 20%;
$hundo: 100%;
$center: center;
$overflow: hidden;
$border: solid;
$nothing: none;
$cursor: pointer;

html {
  scroll-behavior: smooth;
  overflow-x: $overflow;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
  transition-property: all;
  transition-duration: 0.6s;
  transition-timing-function: ease;
}

body {
  background: rgb(124, 122, 122);
  background: linear-gradient(
    180deg,
    rgb(187, 181, 181) 0%,
    rgba(52, 52, 50, 1) 42%,
    rgba(25, 21, 21, 1) 89%
  );
  height: $hundo;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

nav {
  position: fixed;
  width: $hundo;
  display: flex;
  justify-content: space-around;
  align-items: $center;
  min-height: 8vh;
  border-bottom: $color-silver $border 3px;
  background: rgb(124, 122, 122);

  .logo {
    text-decoration: $nothing;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
    color: $color-silver;
  }

  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;

    a {
      color: $color-silver;
      text-decoration: $nothing;
      letter-spacing: 2px;
      font-weight: bold;
      font-size: $px;
      text-transform: uppercase;
    }
    :hover {
      color: $color-snow;
      transition: 0.9s;
    }

    li {
      list-style: $nothing;
    }
  }
  :hover {
    color: $color-snow;
    transition: 0.9s;
  }
}

.burger {
  display: $nothing;
  cursor: $cursor;

  div {
    width: 25px;
    height: 2.5px;
    background-color: $color-silver;
    margin: 5px;
    transition: all 0.3s ease;
  }
}

.bold {
  font-weight: bold;
}

.cover {
  position: absolute;
  margin: auto;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 30%;
}

.parent {
  height: 50vh;
  display: flex;
  justify-content: space-evenly;
  align-items: $center;
  font-family: "Urbanist", sans-serif;
  color: rgb(187, 181, 181);
  margin-bottom: 10%;
}

.buttons {
  display: flex;
  flex-direction: column;
  height: $hundo;
  justify-content: space-evenly;
  text-align: $center;
  width: $hundo;
}

.container {
  align-items: $center;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  text-align: $center;

  @media (min-width: 600px) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    justify-content: space-between;
  }
}

.btn {
  color: $color-silver;
  cursor: $cursor;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  margin: 1em 1em 1em;
  max-width: 160px;
  position: relative;
  text-decoration: $nothing;
  text-transform: uppercase;
  width: $hundo;

  @media (min-width: 600px) {
    margin: 1em 1em 1em;
  }

  &:hover {
    text-decoration: $nothing;
  }
}

.btn-1 {
  font-weight: 100;

  svg {
    height: 45px;
    left: 0;
    position: absolute;
    top: 0;
    width: $hundo;
    color: $color-silver;
  }

  rect {
    fill: $nothing;
    stroke: $color-silver;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition: all 0.35s linear;
  }
}

.btn-1:hover {
  font-weight: 900;
  letter-spacing: 1px;

  rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  }
}

#writing-style {
  width: 65%;
  height: $hundo;
}
.arrow {
  width: 2.5%;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
.example {
  width: 50%;
  float: left;
  padding: $px;
}
.example2 {
  width: 50%;
  float: left;
  padding: $px;
}

#active {
  color: $color-snow;
  background-color: transparent;
}

@media screen and (max-width: 1024px) {
  body {
    overflow-x: $overflow;
    overflow-y: $overflow;
  }

  .buttons {
    align-items: $center;
  }
  .example {
    width: $hundo;
    font-size: 1.5vw;
  }
  .example2 {
    width: $hundo;
    font-size: 1.5vw;
  }
  #collabs {
    width: 90%;
    height: 90%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: $overflow;
    overflow-y: $overflow;
  }

  .cover {
    display: $nothing;
  }
  .buttons {
    align-items: $center;
    margin-top: 25%;
  }
  .example {
    width: $hundo;
    font-size: 2vw;
  }
  .example2 {
    width: $hundo;
    font-size: 2vw;
  }
  #writing-style {
    width: 45%;
    height: 50%;
    margin-top: 20%;
  }
  #pseudonyms {
    display: $nothing;
  }
  #collabs {
    width: 50%;
  }
  #influence {
    width: 40%;
  }
  .arrow {
    width: 5%;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
  }
}

@media screen and (max-width: 426px) {
  body {
    overflow-x: $overflow;
    overflow-y: $overflow;
  }

  .buttons {
    align-items: $center;
    margin-top: 30%;
  }
  .example {
    width: $hundo;
    font-size: 3.2vw;
  }
  .example2 {
    width: $hundo;
    font-size: 3.2vw;
  }
  #collabs {
    display: none;
  }
  #writing-style {
    width: 50%;
    height: 30%;
    margin-top: 20%;
  }
  #influence {
    width: 70%;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 15vh;
    top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: $center;
    width: $percent;
    transform: translateX($hundo);
    transition: transform 0.5s ease-in;
    background-color: rgb(124, 122, 122);
    li {
      opacity: 1;
    }
  }

  .burger {
    display: block;
    cursor: $cursor;
    div {
      width: 25px;
      height: 2.5px;
      background-color: $color-silver;
      margin: 5px;
      transition: all 0.3s ease;
    }
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
