$color-snow: snow;
$color-silver: silver;
$px: 20px;
$percent: 20%;
$hundo: 100%;
$center: center;
$overflow: hidden;
$border: solid;
$nothing: none;
$cursor: pointer;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
  transition-property: all;
  transition-duration: 0.6s;
  transition-timing-function: ease;
}

body {
  background: rgb(124, 122, 122);
  background: linear-gradient(
    180deg,
    rgb(187, 181, 181) 0%,
    rgba(52, 52, 50, 1) 42%,
    rgba(25, 21, 21, 1) 89%
  );
  height: $hundo;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
a {
  color: $color-silver;
}
img {
  position: fixed;
  margin: auto;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

section {
  display: grid;
  height: 100vh;
  place-items: $center $center;
  color: $color-silver;
}

nav {
  position: fixed;
  width: $hundo;
  display: flex;
  justify-content: space-around;
  align-items: $center;
  min-height: 8vh;
  border-bottom: $color-silver $border 3px;
  background-color: rgb(124, 122, 122);

  .logo {
    text-decoration: $nothing;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
    color: $color-silver;
  }

  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;

    a {
      color: $color-silver;
      text-decoration: $nothing;
      letter-spacing: 2px;
      font-weight: bold;
      font-size: $px;
      text-transform: uppercase;
    }
    :hover {
      color: $color-snow;
      transition: 0.9s;
    }

    li {
      list-style: $nothing;
    }
  }
  :hover {
    color: $color-snow;
    transition: 0.9s;
  }
}

.burger {
  display: $nothing;
  cursor: $cursor;

  div {
    width: 25px;
    height: 2.5px;
    background-color: $color-silver;
    margin: 5px;
    transition: all 0.3s ease;
  }
}

@media screen and (max-width: 1024px) {
  body {
    overflow-x: $overflow;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: $overflow;
  }
}

#active {
  color: $color-snow;
  background-color: transparent;
}
.wrapper {
  margin-bottom: 2%;
}
.Accordion {
  padding-top: 60px;
  padding-bottom: 60px;

  &__tabs {
    max-width: 600px;
    list-style: $nothing;
  }

  &__tab {
    width: $hundo;

    &__headline {
      display: flex;
      justify-content: space-between;
      align-items: $center;
      border-bottom: 1px $border rgba(#f8f8f8, 0.5);
      transition: 0.2s ease all;
      padding: $px 15px;
      cursor: $cursor;
      font-weight: 400;

      &:hover {
        background-color: rgb(124, 122, 122);
      }

      > h4 {
        user-select: $nothing;
        text-transform: uppercase;
        margin: 0;
      }

      .icon {
        display: inline-block;
        width: 25px;
        height: 25px;
        border: 2px $border;
        border-radius: 3.5px;
        position: sticky;

        &::before {
          display: block;
          position: absolute;
          content: "";
          top: 10px;
          left: 6px;
          width: 10px;
          height: 1px;
          background: currentColor;
        }

        &::after {
          display: block;
          position: absolute;
          content: "";
          top: 6px;
          left: 10px;
          width: 2px;
          height: 10px;
          background: currentColor;
          transition: 0.2s ease all;
        }
      }
    }

    &__content {
      overflow: $overflow;
      padding: 0px 15px;
      box-sizing: border-box;
      height: $hundo;
      max-height: 0;
      transition: 0.4s ease all;
    }

    &--open {
      .Accordion__tab {
        &__headline {
          .icon::after {
            transform: scaleY(0);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 426px) {
  .wrapper {
    margin-bottom: 3%;
  }
  .Accordion {
    padding-top: 60px;
    padding-bottom: 40px;

    &__tabs {
      margin-top: 10%;
      max-width: 300px;
      list-style: $nothing;
    }

    &__tab {
      width: $hundo;

      &__headline {
        display: flex;
        justify-content: space-between;
        align-items: $center;
        border-bottom: 1px $border rgba(#f8f8f8, 0.5);
        transition: 0.2s ease all;
        padding: $px 15px;
        cursor: $cursor;
        font-weight: 400;

        &:hover {
          background-color: rgb(124, 122, 122);
        }

        > h4 {
          user-select: $nothing;
          text-transform: uppercase;
          margin: 0;
        }

        .icon {
          display: inline-block;
          width: 0px;
          height: 0px;
          border: 0px $border;
          border-radius: 0px;
          position: sticky;

          &::before {
            display: block;
            position: absolute;
            content: "";
            top: 10px;
            left: 6px;
            width: 10px;
            height: 1px;
            background: currentColor;
          }

          &::after {
            display: block;
            position: absolute;
            content: "";
            top: 6px;
            left: 10px;
            width: 2px;
            height: 10px;
            background: currentColor;
            transition: 0.2s ease all;
          }
        }
      }

      &__content {
        overflow: $overflow;
        padding: 0px 15px;
        box-sizing: border-box;
        height: $hundo;
        max-height: 0;
        transition: 0.4s ease all;
      }

      &--open {
        .Accordion__tab {
          &__headline {
            .icon::after {
              transform: scaleY(0);
            }
          }
        }
      }
    }
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 15vh;
    top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: $center;
    width: $percent;
    transform: translateX($hundo);
    transition: transform 0.5s ease-in;
    background-color: rgb(124, 122, 122);
    li {
      opacity: 1;
    }
  }

  .burger {
    display: block;
    cursor: $cursor;
    div {
      width: 25px;
      height: 2.5px;
      background-color: $color-silver;
      margin: 5px;
      transition: all 0.3s ease;
    }
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
