* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

body {
  background: #7c7a7a;
  background: -webkit-gradient(linear, left top, left bottom, from(#bbb5b5), color-stop(42%, #343432), color-stop(89%, #191515));
  background: linear-gradient(180deg, #bbb5b5 0%, #343432 42%, #191515 89%);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  color: silver;
}

img {
  position: fixed;
  margin: auto;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

section {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  place-items: center center;
  color: silver;
}

nav {
  position: fixed;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
  border-bottom: silver solid 3px;
  background-color: #7c7a7a;
}

nav .logo {
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 25px;
  text-transform: uppercase;
  color: silver;
}

nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 30%;
}

nav .nav-links a {
  color: silver;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}

nav .nav-links :hover {
  color: snow;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

nav .nav-links li {
  list-style: none;
}

nav :hover {
  color: snow;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 2.5px;
  background-color: silver;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
}

#active {
  color: snow;
  background-color: transparent;
}

.wrapper {
  margin-bottom: 2%;
}

.Accordion {
  padding-top: 60px;
  padding-bottom: 60px;
}

.Accordion__tabs {
  max-width: 600px;
  list-style: none;
}

.Accordion__tab {
  width: 100%;
}

.Accordion__tab__headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(248, 248, 248, 0.5);
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
  padding: 20px 15px;
  cursor: pointer;
  font-weight: 400;
}

.Accordion__tab__headline:hover {
  background-color: #7c7a7a;
}

.Accordion__tab__headline > h4 {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-transform: uppercase;
  margin: 0;
}

.Accordion__tab__headline .icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 2px solid;
  border-radius: 3.5px;
  position: -webkit-sticky;
  position: sticky;
}

.Accordion__tab__headline .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 10px;
  left: 6px;
  width: 10px;
  height: 1px;
  background: currentColor;
}

.Accordion__tab__headline .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 6px;
  left: 10px;
  width: 2px;
  height: 10px;
  background: currentColor;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

.Accordion__tab__content {
  overflow: hidden;
  padding: 0px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  max-height: 0;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

.Accordion__tab--open .Accordion__tab__headline .icon::after {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

@media screen and (max-width: 426px) {
  .wrapper {
    margin-bottom: 3%;
  }
  .Accordion {
    padding-top: 60px;
    padding-bottom: 40px;
  }
  .Accordion__tabs {
    margin-top: 10%;
    max-width: 300px;
    list-style: none;
  }
  .Accordion__tab {
    width: 100%;
  }
  .Accordion__tab__headline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid rgba(248, 248, 248, 0.5);
    -webkit-transition: 0.2s ease all;
    transition: 0.2s ease all;
    padding: 20px 15px;
    cursor: pointer;
    font-weight: 400;
  }
  .Accordion__tab__headline:hover {
    background-color: #7c7a7a;
  }
  .Accordion__tab__headline > h4 {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-transform: uppercase;
    margin: 0;
  }
  .Accordion__tab__headline .icon {
    display: inline-block;
    width: 0px;
    height: 0px;
    border: 0px solid;
    border-radius: 0px;
    position: -webkit-sticky;
    position: sticky;
  }
  .Accordion__tab__headline .icon::before {
    display: block;
    position: absolute;
    content: "";
    top: 10px;
    left: 6px;
    width: 10px;
    height: 1px;
    background: currentColor;
  }
  .Accordion__tab__headline .icon::after {
    display: block;
    position: absolute;
    content: "";
    top: 6px;
    left: 10px;
    width: 2px;
    height: 10px;
    background: currentColor;
    -webkit-transition: 0.2s ease all;
    transition: 0.2s ease all;
  }
  .Accordion__tab__content {
    overflow: hidden;
    padding: 0px 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 100%;
    max-height: 0;
    -webkit-transition: 0.4s ease all;
    transition: 0.4s ease all;
  }
  .Accordion__tab--open .Accordion__tab__headline .icon::after {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 15vh;
    top: 8vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 20%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
    background-color: #7c7a7a;
  }
  .nav-links li {
    opacity: 1;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
  .burger div {
    width: 25px;
    height: 2.5px;
    background-color: silver;
    margin: 5px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}

.nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
/*# sourceMappingURL=faq.css.map */